<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="baidu-site-verification" content="nPxypLjNNn" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>千寻搜索引擎</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <h1 class="title">
                <a href="#"><div class="logo large"></div></a>
            </h1>
            <div class="inputArea">
                <input type="text" class="searchInput" />
                <input type="button" class="searchButton" onclick="add_search()" />
            </div>
        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
        <div class="wrap">
            <div class="copyright">Copyright &copy;search.douyh.cn 版权所有 </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript">
    function add_search(){
        var val = $(".searchInput").val();
        var visit_url = 'http://localhost:5000/search?q='+val
        console.log(visit_url)
        window.location.href=visit_url
    }
</script>
</html>